src/ApplicationCooperationViewPoint/Dsl/GeneratedCode/ApplicationCooperationViewPointSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="ApplicationCooperationViewPointSchema" targetNamespace="http://schemas.microsoft.com/dsltools/ApplicationCooperationViewPoint" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/ApplicationCooperationViewPoint" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- Model -->
  <xsd:element name="model" type="Model" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Model">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ModelHasElements -->
          <xsd:element name="elements" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelHasElements</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="modelHasElements">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from ModelHasElements needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="modelElement" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModelHasConcepts -->
          <xsd:element name="concepts" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelHasConcepts</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelHasConcepts" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelHasConcepts needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModelHasRelationships -->
          <xsd:element name="relationships" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelHasRelationships</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelHasRelationships" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelHasRelationships needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: Target -->
        <xsd:attribute name="target" type="xsd:string" />
        <!-- Property: ViewpointType -->
        <xsd:attribute name="viewpointType" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Model Moniker -->
  <xsd:element name="modelMoniker" type="ModelMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Model instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelElement -->
  <xsd:element name="modelElement" type="ModelElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelElement">
    <xsd:annotation>
      <xsd:documentation>Elements embedded in the model. Appear as boxes on the diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ModelElementHasChildren -->
          <xsd:element name="children" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelElementHasChildren</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelElementHasChildren" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelElementHasChildren needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModelElementReferencesRightRelationships -->
          <xsd:element name="rightRelationships" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelElementReferencesRightRelationships</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelElementReferencesRightRelationships" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelElementReferencesRightRelationships needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ReferenceSource -->
        <xsd:attribute name="referenceSource" type="xsd:string" use="required" >
          <xsd:annotation>
            <xsd:documentation>Description for Bb.ApplicationCooperationViewPoint.ExampleElement.Name</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Type -->
        <xsd:attribute name="type" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Name of the element</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelElement Moniker -->
  <xsd:element name="modelElementMoniker" type="ModelElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="referenceSource" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SubElement -->
  <xsd:element name="subElement" type="SubElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SubElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: SubElementReferencesRightRelationships -->
          <xsd:element name="rightRelationships" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of SubElementReferencesRightRelationships</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="subElementReferencesRightRelationships" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of SubElementReferencesRightRelationships needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ReferenceSource -->
        <xsd:attribute name="referenceSource" type="xsd:string" />
        <!-- Property: Type -->
        <xsd:attribute name="type" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SubElement Moniker -->
  <xsd:element name="subElementMoniker" type="SubElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SubElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SubElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Concept -->
  <xsd:element name="concept" type="Concept" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Concept">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ConceptHasChildren -->
          <xsd:element name="children" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ConceptHasChildren</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="conceptHasChildren" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ConceptHasChildren needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ConceptReferencesRightRelationships -->
          <xsd:element name="rightRelationships" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ConceptReferencesRightRelationships</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="conceptReferencesRightRelationships" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ConceptReferencesRightRelationships needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ReferenceSource -->
        <xsd:attribute name="referenceSource" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: Type -->
        <xsd:attribute name="type" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Concept Moniker -->
  <xsd:element name="conceptMoniker" type="ConceptMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConceptMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Concept instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptElement -->
  <xsd:element name="conceptElement" type="ConceptElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ConceptElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ConceptElementHasChildren -->
          <xsd:element name="children" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ConceptElementHasChildren</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="conceptElementHasChildren" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ConceptElementHasChildren needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ConceptElementReferencesRightRelationships -->
          <xsd:element name="rightRelationships" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ConceptElementReferencesRightRelationships</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="conceptElementReferencesRightRelationships" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ConceptElementReferencesRightRelationships needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ReferenceSource -->
        <xsd:attribute name="referenceSource" type="xsd:string" />
        <!-- Property: Type -->
        <xsd:attribute name="type" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptElement Moniker -->
  <xsd:element name="conceptElementMoniker" type="ConceptElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConceptElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ConceptElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptSubElement -->
  <xsd:element name="conceptSubElement" type="ConceptSubElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ConceptSubElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ConceptSubElementReferencesRightRelationships -->
          <xsd:element name="rightRelationships" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ConceptSubElementReferencesRightRelationships</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="conceptSubElementReferencesRightRelationships" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ConceptSubElementReferencesRightRelationships needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ReferenceSource -->
        <xsd:attribute name="referenceSource" type="xsd:string" />
        <!-- Property: Type -->
        <xsd:attribute name="type" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptSubElement Moniker -->
  <xsd:element name="conceptSubElementMoniker" type="ConceptSubElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConceptSubElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ConceptSubElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Relationship -->
  <xsd:element name="relationship" type="Relationship" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Relationship">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: RelationshipReferencesRightModelElement -->
          <xsd:element name="rightModelElement" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of RelationshipReferencesRightModelElement</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="relationshipReferencesRightModelElement" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RelationshipReferencesRightModelElement needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: RelationshipReferencesRightSubElement -->
          <xsd:element name="rightSubElement" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of RelationshipReferencesRightSubElement</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="relationshipReferencesRightSubElement" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RelationshipReferencesRightSubElement needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: RelationshipReferencesRightConcept -->
          <xsd:element name="rightConcept" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of RelationshipReferencesRightConcept</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="relationshipReferencesRightConcept" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RelationshipReferencesRightConcept needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: RelationshipReferencesRightConceptElement -->
          <xsd:element name="rightConceptElement" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of RelationshipReferencesRightConceptElement</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="relationshipReferencesRightConceptElement" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RelationshipReferencesRightConceptElement needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: RelationshipReferencesRightConceptSubElement -->
          <xsd:element name="rightConceptSubElement" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of RelationshipReferencesRightConceptSubElement</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="relationshipReferencesRightConceptSubElement" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of RelationshipReferencesRightConceptSubElement needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ReferenceSource -->
        <xsd:attribute name="referenceSource" type="xsd:string" />
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: Label -->
        <xsd:attribute name="label" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Relationship Moniker -->
  <xsd:element name="relationshipMoniker" type="RelationshipMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelationshipMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Relationship instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasElements -->
  <xsd:element name="modelHasElements" abstract="true" type="ModelHasElements" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelHasElements" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>Embedding relationship between the Model and Elements</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ModelElement -->
          <xsd:element ref="modelElement" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasElements Moniker -->
  <xsd:element name="modelHasElementsMoniker" type="ModelHasElementsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelHasElementsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelHasElements instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelElementHasChildren -->
  <xsd:element name="modelElementHasChildren" type="ModelElementHasChildren" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelElementHasChildren">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end SubElement -->
          <xsd:element ref="subElement" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelElementHasChildren Moniker -->
  <xsd:element name="modelElementHasChildrenMoniker" type="ModelElementHasChildrenMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelElementHasChildrenMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelElementHasChildren instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasConcepts -->
  <xsd:element name="modelHasConcepts" type="ModelHasConcepts" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelHasConcepts">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Concept -->
          <xsd:element ref="concept" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasConcepts Moniker -->
  <xsd:element name="modelHasConceptsMoniker" type="ModelHasConceptsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelHasConceptsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelHasConcepts instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptHasChildren -->
  <xsd:element name="conceptHasChildren" type="ConceptHasChildren" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ConceptHasChildren">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ConceptElement -->
          <xsd:element ref="conceptElement" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptHasChildren Moniker -->
  <xsd:element name="conceptHasChildrenMoniker" type="ConceptHasChildrenMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConceptHasChildrenMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ConceptHasChildren instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptElementHasChildren -->
  <xsd:element name="conceptElementHasChildren" type="ConceptElementHasChildren" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ConceptElementHasChildren">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ConceptSubElement -->
          <xsd:element ref="conceptSubElement" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptElementHasChildren Moniker -->
  <xsd:element name="conceptElementHasChildrenMoniker" type="ConceptElementHasChildrenMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConceptElementHasChildrenMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ConceptElementHasChildren instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasRelationships -->
  <xsd:element name="modelHasRelationships" type="ModelHasRelationships" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelHasRelationships">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Relationship -->
          <xsd:element ref="relationship" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelHasRelationships Moniker -->
  <xsd:element name="modelHasRelationshipsMoniker" type="ModelHasRelationshipsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelHasRelationshipsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelHasRelationships instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SubElementReferencesRightRelationships -->
  <xsd:element name="subElementReferencesRightRelationships" type="SubElementReferencesRightRelationships" substitutionGroup="core:modelElement" />
  <xsd:complexType name="SubElementReferencesRightRelationships">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Relationship -->
          <xsd:element ref="relationshipMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- SubElementReferencesRightRelationships Moniker -->
  <xsd:element name="subElementReferencesRightRelationshipsMoniker" type="SubElementReferencesRightRelationshipsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="SubElementReferencesRightRelationshipsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for SubElementReferencesRightRelationships instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptReferencesRightRelationships -->
  <xsd:element name="conceptReferencesRightRelationships" type="ConceptReferencesRightRelationships" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ConceptReferencesRightRelationships">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Relationship -->
          <xsd:element ref="relationshipMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptReferencesRightRelationships Moniker -->
  <xsd:element name="conceptReferencesRightRelationshipsMoniker" type="ConceptReferencesRightRelationshipsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConceptReferencesRightRelationshipsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ConceptReferencesRightRelationships instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptElementReferencesRightRelationships -->
  <xsd:element name="conceptElementReferencesRightRelationships" type="ConceptElementReferencesRightRelationships" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ConceptElementReferencesRightRelationships">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Relationship -->
          <xsd:element ref="relationshipMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptElementReferencesRightRelationships Moniker -->
  <xsd:element name="conceptElementReferencesRightRelationshipsMoniker" type="ConceptElementReferencesRightRelationshipsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConceptElementReferencesRightRelationshipsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ConceptElementReferencesRightRelationships instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptSubElementReferencesRightRelationships -->
  <xsd:element name="conceptSubElementReferencesRightRelationships" type="ConceptSubElementReferencesRightRelationships" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ConceptSubElementReferencesRightRelationships">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Relationship -->
          <xsd:element ref="relationshipMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ConceptSubElementReferencesRightRelationships Moniker -->
  <xsd:element name="conceptSubElementReferencesRightRelationshipsMoniker" type="ConceptSubElementReferencesRightRelationshipsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ConceptSubElementReferencesRightRelationshipsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ConceptSubElementReferencesRightRelationships instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelElementReferencesRightRelationships -->
  <xsd:element name="modelElementReferencesRightRelationships" type="ModelElementReferencesRightRelationships" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelElementReferencesRightRelationships">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Relationship -->
          <xsd:element ref="relationshipMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelElementReferencesRightRelationships Moniker -->
  <xsd:element name="modelElementReferencesRightRelationshipsMoniker" type="ModelElementReferencesRightRelationshipsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelElementReferencesRightRelationshipsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelElementReferencesRightRelationships instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelationshipReferencesRightModelElement -->
  <xsd:element name="relationshipReferencesRightModelElement" type="RelationshipReferencesRightModelElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RelationshipReferencesRightModelElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ModelElement -->
          <xsd:element ref="modelElementMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelationshipReferencesRightModelElement Moniker -->
  <xsd:element name="relationshipReferencesRightModelElementMoniker" type="RelationshipReferencesRightModelElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelationshipReferencesRightModelElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RelationshipReferencesRightModelElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelationshipReferencesRightSubElement -->
  <xsd:element name="relationshipReferencesRightSubElement" type="RelationshipReferencesRightSubElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RelationshipReferencesRightSubElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end SubElement -->
          <xsd:element ref="subElementMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelationshipReferencesRightSubElement Moniker -->
  <xsd:element name="relationshipReferencesRightSubElementMoniker" type="RelationshipReferencesRightSubElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelationshipReferencesRightSubElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RelationshipReferencesRightSubElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelationshipReferencesRightConcept -->
  <xsd:element name="relationshipReferencesRightConcept" type="RelationshipReferencesRightConcept" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RelationshipReferencesRightConcept">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Concept -->
          <xsd:element ref="conceptMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelationshipReferencesRightConcept Moniker -->
  <xsd:element name="relationshipReferencesRightConceptMoniker" type="RelationshipReferencesRightConceptMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelationshipReferencesRightConceptMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RelationshipReferencesRightConcept instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelationshipReferencesRightConceptElement -->
  <xsd:element name="relationshipReferencesRightConceptElement" type="RelationshipReferencesRightConceptElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RelationshipReferencesRightConceptElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ConceptElement -->
          <xsd:element ref="conceptElementMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelationshipReferencesRightConceptElement Moniker -->
  <xsd:element name="relationshipReferencesRightConceptElementMoniker" type="RelationshipReferencesRightConceptElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelationshipReferencesRightConceptElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RelationshipReferencesRightConceptElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelationshipReferencesRightConceptSubElement -->
  <xsd:element name="relationshipReferencesRightConceptSubElement" type="RelationshipReferencesRightConceptSubElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="RelationshipReferencesRightConceptSubElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ConceptSubElement -->
          <xsd:element ref="conceptSubElementMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- RelationshipReferencesRightConceptSubElement Moniker -->
  <xsd:element name="relationshipReferencesRightConceptSubElementMoniker" type="RelationshipReferencesRightConceptSubElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="RelationshipReferencesRightConceptSubElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for RelationshipReferencesRightConceptSubElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

