src/ApplicationCooperationViewPoint/Dsl/GeneratedCode/ApplicationCooperationViewPointSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="ApplicationCooperationViewPointSchema" targetNamespace="http://schemas.microsoft.com/dsltools/ApplicationCooperationViewPoint" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/ApplicationCooperationViewPoint" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- CooperationModel -->
  <xsd:element name="cooperationModel" type="CooperationModel" substitutionGroup="core:modelElement" />
  <xsd:complexType name="CooperationModel">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: CooperationModelHasElements -->
          <xsd:element name="elements" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of CooperationModelHasElements</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="cooperationModelHasElements">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from CooperationModelHasElements needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="cooperationElement" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: Target -->
        <xsd:attribute name="target" type="xsd:string" />
        <!-- Property: Type -->
        <xsd:attribute name="type" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationModel Moniker -->
  <xsd:element name="cooperationModelMoniker" type="CooperationModelMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CooperationModelMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CooperationModel instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationElement -->
  <xsd:element name="cooperationElement" type="CooperationElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="CooperationElement">
    <xsd:annotation>
      <xsd:documentation>Elements embedded in the model. Appear as boxes on the diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: CooperationElementReferencesTargets -->
          <xsd:element name="targets" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of CooperationElementReferencesTargets</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded" >
                  <xsd:element ref="cooperationElementReferencesTargets">
                    <xsd:annotation>
                      <xsd:documentation>[Relationship deriving from CooperationElementReferencesTargets needs to be serialized in full-form]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="cooperationElementMoniker" >
                    <xsd:annotation>
                      <xsd:documentation>[Target role-player]</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: CooperationElementHasCooperationSubElement -->
          <xsd:element name="cooperationSubElement" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of CooperationElementHasCooperationSubElement</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="cooperationElementHasCooperationSubElement" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of CooperationElementHasCooperationSubElement needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: SourceReference -->
        <xsd:attribute name="sourceReference" type="xsd:string" use="required" >
          <xsd:annotation>
            <xsd:documentation>Description for Bb.ApplicationCooperationViewPoint.ExampleElement.Name</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationElement Moniker -->
  <xsd:element name="cooperationElementMoniker" type="CooperationElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CooperationElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CooperationElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="sourceReference" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationSubElement -->
  <xsd:element name="cooperationSubElement" type="CooperationSubElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="CooperationSubElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: CooperationSubElementReferencesTargetCooperationSubElement -->
          <xsd:element name="targetCooperationSubElement" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of CooperationSubElementReferencesTargetCooperationSubElement</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="cooperationSubElementReferencesTargetCooperationSubElement" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of CooperationSubElementReferencesTargetCooperationSubElement needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ReferenceSource -->
        <xsd:attribute name="referenceSource" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationSubElement Moniker -->
  <xsd:element name="cooperationSubElementMoniker" type="CooperationSubElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CooperationSubElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CooperationSubElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationModelHasElements -->
  <xsd:element name="cooperationModelHasElements" abstract="true" type="CooperationModelHasElements" substitutionGroup="core:modelElement" />
  <xsd:complexType name="CooperationModelHasElements" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>Embedding relationship between the Model and Elements</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end CooperationElement -->
          <xsd:element ref="cooperationElement" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationModelHasElements Moniker -->
  <xsd:element name="cooperationModelHasElementsMoniker" type="CooperationModelHasElementsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CooperationModelHasElementsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CooperationModelHasElements instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationElementReferencesTargets -->
  <xsd:element name="cooperationElementReferencesTargets" abstract="true" type="CooperationElementReferencesTargets" substitutionGroup="core:modelElement" />
  <xsd:complexType name="CooperationElementReferencesTargets" abstract="true" >
    <xsd:annotation>
      <xsd:documentation>Reference relationship between Elements.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end CooperationElement -->
          <xsd:element ref="cooperationElementMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationElementReferencesTargets Moniker -->
  <xsd:element name="cooperationElementReferencesTargetsMoniker" type="CooperationElementReferencesTargetsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CooperationElementReferencesTargetsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CooperationElementReferencesTargets instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationElementHasCooperationSubElement -->
  <xsd:element name="cooperationElementHasCooperationSubElement" type="CooperationElementHasCooperationSubElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="CooperationElementHasCooperationSubElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end CooperationSubElement -->
          <xsd:element ref="cooperationSubElement" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationElementHasCooperationSubElement Moniker -->
  <xsd:element name="cooperationElementHasCooperationSubElementMoniker" type="CooperationElementHasCooperationSubElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CooperationElementHasCooperationSubElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CooperationElementHasCooperationSubElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationSubElementReferencesTargetCooperationSubElement -->
  <xsd:element name="cooperationSubElementReferencesTargetCooperationSubElement" type="CooperationSubElementReferencesTargetCooperationSubElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="CooperationSubElementReferencesTargetCooperationSubElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end CooperationSubElement -->
          <xsd:element ref="cooperationSubElementMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CooperationSubElementReferencesTargetCooperationSubElement Moniker -->
  <xsd:element name="cooperationSubElementReferencesTargetCooperationSubElementMoniker" type="CooperationSubElementReferencesTargetCooperationSubElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CooperationSubElementReferencesTargetCooperationSubElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CooperationSubElementReferencesTargetCooperationSubElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

